:root{
  font-family: var(--div-font, 'Poppins', sans-serif);  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.navbar{
  height: 70px;
  box-shadow: 1px 1px 20px grey;
  
}

.navbar img{
  height: 100%;
  margin-left: 10px;
  
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.hero--photo{
  max-width: 800px;
}

.hero--header{
  font-family: inherit;
  margin-bottom: 16px;
}

.hero--text{
  max-width: 850px;
  font-size: 20px;
  font-family:inherit;
  margin-top: 0;
}

.card--star{
  height: 14px;
}

.price{
  display: flex;
  align-items: center;
  justify-content: baseline;
  font-size: 15px;
}
.grey{
  color: gray;
}

.bold--price{
  font-weight: bold;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

}

.main--photo{
  height: 290px;
  padding: 0;
}